<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidbegin.menuviewpagertutorial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="PKL54"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        >
        <activity  android:name="com.androidbegin.menuviewpagertutorial.AwalMulai"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
           	 android:name="com.androidbegin.menuviewpagertutorial.Login"
            android:label="PKL54"
            ></activity>
        <activity 
           	 android:name="com.androidbegin.menuviewpagertutorial.MainAwal"
            android:label="PKL54"
            ></activity>
        <activity 
           	 android:name="com.androidbegin.menuviewpagertutorial.Beranda"
            android:label="PKL54"
            ></activity>
          <activity 
           	 android:name="com.androidbegin.menuviewpagertutorial.MainActivity"
            android:label="PKL54"
            android:theme="@style/Theme.Sherlock.Light" 
            ></activity>
        
    </application>

</manifest>